h1{
    color: #93a392ff;
    text-transform: uppercase;
}

/*
    Los colores los estamos separando para los items 
    se hace una clase para cada diferente color
    de esta manera ubicamos los colores de manera 
    más ordenada a la hora de hacer el codigo
 */

.color-item1{
    background-color: #98ECDD;
    border: #98ECDD;

}

.color-item2{
    background-color: #93A392;
    border: #93A392;
}

/*
    color pastilla
*/
.color-item3{
    background-color: #ADBF97;
    border: #ADBF97;
}

.color-item4{
    background-color: #BAD9A2;
    border: #BAD9A2;
}
.color-item5{
    background-color: #9DC4B5;
    border: #9DC4B5;
}
/*colores border*/
.border-color-item1{
    border: #98ECDD;
}
.border-color-item2{
    border: #93A392;
}
.border-color-item3{
    border: #ADBF97;
}
.border-color-item4{
    border: #BAD9A2;
}
.border-color-item5{
    border: #9DC4B5;
}

/*radius*/
.border-item1{ 
    border-radius: 1em;
}

.border-item2{ 
    border-radius: 2em;
}

.border-item3{ /*comun*/
    border-radius: 3em;
}



.text-color1{
    color: #98ECDD;

}

.text-color2{
    color: #93A392;
}

.text-color3{
    color: #ADBF97;
}

.text-color4{
    color: #bad9a2;
}

.text-color5{
    color: #9DC4B5;
}

.altura-item{
    height: 25vh;
}
.altura-item-menu{
    height: 30vh;
}
.icono-grande{
    width: 45%;
}

.icono-mediano{
    width: 25%;
}

.icono-peque{
    width: 10%;
}

.foto-doc{
    height: 10vh;
    width: 10vh;
    margin: 5% auto; 
    background-color: #93A392;
}

.item{
    width: 100%;
    background-color: #BAD9A2;
}


