.foto-doc{
    height: 10vh;
    width: 10vh;
    margin: 5% auto; 
    background-color: #93A392;
}

.item{
    height: 30vh;
    width: 100%;
    color: white; 
    border-radius: 1em;
    background-color: #BAD9A2;
}

.item-foro{
    color: black; 
    border-radius: 1em;
    background-color: #BAD9A2;
}

.item-pregunta{
    color: black;
    border-radius: 1em;
    background-color: white;
    height: 15vh;
}