.foto-doc{
    height: 10vh;
    width: 10vh;
    margin: 5% auto; 
    background-color: #93A392;
}

.item{
    height: 30vh;
    color: white; 
    border-radius: 5%;
    background-color: #BAD9A2;
    margin-top:auto;
    margin-bottom:auto;
    justify-content: space-between;
}