.foto-doc{
    height: 10vh;
    width: 10vh;
    margin: 5% auto; 
    background-color: #93A392;
}

.item{
    width: 100%;
    color: white; 
    background-color: #BAD9A2;
}

.barra-busqueda{
    width: 100%;
    color: white; 
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    background-color: #BAD9A2;
}