/*
Middle Blue Green: #98ECDD
Morning Blue: #93A392
Laurel Green: #ADBF87
Celadon: #BAD9A2
Cambridge Blue: #9DC4B5
*/
#login{
    width: 12em;   
    text-transform: uppercase;
    background-color:#9DC4B5 ;
    font-weight: 500;
}
#signup{
    width: 12em;
    text-transform: uppercase;
    background-color:#9DC4B5 ;
    font-weight: 500;
}

/*AreaEsp no funciona responsive correctamente. El color sale del #t*/
.areaEsp{
    margin-top: 0.75em;
    
}
#p{
    position:relative;
    height: 50vh;
    margin: auto;
}
#t{
    position:absolute;
    top: 0; bottom: 0; left: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right:px;
    height: 7vh;
    background-color: #9DC4B5;
    border-radius: 110px;
    
}
.textEsp{
    margin-right:20px;
    font-size:25px;
}

.foro{
    width: 100%;
    text-transform: uppercase;
    background-color:#9DC4B5 ;
    font-weight: 500;
}
.calmed{
    width: 50%;
    text-transform: uppercase;
    background-color:#9DC4B5 ;
    font-weight: 500;
}
.notimp{
    width: 100%;
    text-transform: uppercase;
    background-color:#9DC4B5 ;
    font-weight: 500;
}