/*
Middle Blue Green: #98ECDD
Morning Blue: #93A392
Laurel Green: #ADBF87
Celadon: #BAD9A2
Cambridge Blue: #9DC4B5
*/
/*
    Fondo Update.
    Parece que en 300% no aparece el bug de repetición cada vez que se achica la pantalla.
*/
body{
    /*El fondo en tamaños "menores" en horizontal se repite*/
    background-image: url("../../img/fondo.jpg");
    background-size:300%    
}

.titleServ{
    text-shadow: 1px 1px;
    font-weight: 900;
}
.textEsp{
    margin-right:20px;
    font-size:22px;
    font-weight: 500;
}

.foro{
    width: 100%;
    text-transform: uppercase;
    background-color:#9dc4b55e;
    font-weight: 500;
    box-shadow: 2px 2px 0.25em;
}
.calmed{
    width: 50%;
    text-transform: uppercase;
    background-color:#9dc4b55e;
    font-weight: 500;
    box-shadow: 2px 2px 0.25em;
}
.notimp{
    width: 100%;
    text-transform: uppercase;
    background-color:#9dc4b55e;
    font-weight: 500;
    box-shadow: 2px 2px 0.25em;
}
.areaEsp{
    margin-top: 0.75em;
    padding-left: 20px;
    background-color:#9dc4b55e;
    height: 2.em;
}
#login{
    width: 12em;   
    text-transform: uppercase;
    background-color:#9dc4b55e;
    font-weight: 500;
    box-shadow: 2px 2px 0.25em;
}
#signup{
    width: 12em;
    text-transform: uppercase;
    background-color:#9dc4b55e;
    font-weight: 500;
    box-shadow: 2px 2px 0.25em;
}
#p{
    position:relative;
    height: 50vh;
    margin: auto;
}
#t{
    position:absolute;
    border-radius: 20px;
    top: 0; bottom: 0; left: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right:px;
    height: 7vh; 
    box-shadow: 2px 2px 1em;
}